page-home {
#content{
    background-image: url('../../assets/imgs/fundoLista.png');
}

#nome{
    font-size: 19px
}
#header{
    background-color: #9a514a;
}
#titulo{
    text-align: center;
}
#fabRight{
    position: relative;
    float: right;
    margin-right: -10px;
}
#fabLefth{
    position: relative;
    float: left;
    margin-left: 10px;
}
}
