<!--
  Generated template for the DetalhesBarbeariaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="figaro">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DetalhesBarbearia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="detalhes">
  <div id="detalhesDiv">
      <ion-img width="150" height="150" id="fotoBarbearia" src="{{foto}}"></ion-img>

      <ion-item id="nome">
        {{nome}}
      </ion-item>
      <ion-item id="endereco">
        <ion-icon ios="ios-home" md="md-home"></ion-icon> <a href="https://www.google.com.br/maps/search/{{logradouro}}" target="_system">{{logradouro}}</a> 
      </ion-item>

      <ion-item id="estacionamento" *ngIf="estacionamento">
        <ion-icon name="car"> Estacionamento</ion-icon>
       </ion-item>
 
       <ion-item id="bar" *ngIf="bar">
         <ion-icon name="beer"> Bar</ion-icon>
       </ion-item>

      <ion-item>
        Horários de atendimento : {{horariosAtendimento}}
      </ion-item>
  
  </div>
    
    <div ng-if="horarios.length > 0 ">
      <button ion-button block on-click="agendamento(obj)" id="botaoAgendar"> Agendar horário
        <ion-icon name="md-alarm" id="iconAgendarHorario"></ion-icon>

      </button>
    </div>
</ion-content>
